<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
			"http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
	<bean id = "t" class = "beans.Test"  >
		<property name ="driver" value="oracle.jdbc.OracleDriver"></property>
		<property name ="url" value="jdbc:oracle:thin:@localhost:1521:xe"></property>
		<property name ="username" value="system"></property>
		<property name ="pwd" value="admin"></property>
	</bean>
	
</beans>